# dependencies
/node_modules

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#transpiled files
/dist
src/**/**.js
src/**/**.js.map

#misc
.DS_Store
